{block content}
<h1>{block #title}Delete item{/block}</h1>

<p>Are you sure you want to delete "{$item}"?</p>

<p class="error">Warnign: The operation also deletes all descendants of "{$item}"!</p>

{control delete}
