{var $close = FALSE}

{block treeView}
		{foreach $parents as $child}
			{if $iterator->first}<ul>{/if}
			{var $kids = $presenter->getChildren($children, $child->id)}
			<li>
				{if $kids}
					{var $randomSalt = Nette\Utils\Strings::random(8, 'a-z')}
					<input id="clicker-{$randomSalt}" type="checkbox">
				{/if}
				<label n:tag-if="$kids" for="clicker-{$randomSalt}">
					<b>{$child->name}</b>
				</label>
				<a href="{plink Treeview:add, $child->id}">Add</a>
				<a href="{plink Treeview:edit, $child->id}">Edit</a>
				<a href="{plink Treeview:delete, $child->id}" onclick="if(confirm('r u sure?')){ window.location.replace({plink fastDelete! $child->id}) };return false">Delete</a>
				{if $kids}
					{var $close = TRUE}
					{include #treeView, 'parents' => $kids}
				{/if}
				{if $close}</li>{/if}
			{if $iterator->last}</ul>{/if}
		{/foreach}
{/block}
