{* This is the welcome page, you can delete it *}

{block content}

<h1 n:block=title>Hustý!</h1>

<div id="content">
	<strong>Zde je vypsán obsah souboru <em>readme.txt</em></strong>
	<pre>
	{include '../../../readme.txt'}
	</pre>
</div>

<hr>

<p>Binární strom vypsaný pomocí komponenty <code>&#123;control treeView&#125;</code></p>

{control treeView}

<hr>

<p><a n:href="treeview:">Samostatná stránka pro treeView</a></p>