{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
<script {* n:inner-helper="strip" *}>{* scripty pracující s uri adresou stránky... jsou umístěny co nejdříve to jde (@todo : přidat bool atribut async) *}
	if(history.replaceState) { {* odstranění flash id a backlink parametru z adresy stránky *}
		l = location.toString();
		r = [['_fid',4],['backlink',5]];
		for(i in r) {
			uri = l.indexOf(r[i][0]+'=');
			if(uri != -1) {
				uri = l.substr(0, uri)+l.substr(uri+r[i][0].length+r[i][1]+2);
				if( (uri.substr(uri.length-1) == '?') || (uri.substr(uri.length-1) == '&') ) {
					uri = uri.substr(0, uri.length-1);
				}
				history.replaceState('', '', uri);{* první parametr je objekt do kterého si můžu ukládat stavy... například {"page": page} ... dané page pak jde načíst a inkrementovat; Druhý parametr je <title> stránky, ale FF i Chrome na to aktuálně kašlou... nechávám teda tento údaj prázdný. *}
			}
		}
	}
	document.getElementsByTagName('script')[0].parentNode.removeChild(document.getElementsByTagName('script')[0]);{* sebedestrukce tohoto javascriptu *}
</script>
	<meta charset="UTF-8">
	<title>{block title|striptags|upper}Nette Application Skeleton{/block}</title>
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<link rel="stylesheet" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" href="{$basePath}/css/fun.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<style>
{* všechno ostatní *}
select {
	width:160px;
}

{* strom: *}


{* zobrazení/skrytí formuláře pro přidání: *}
#adder {
	position:absolute;
	top:-9999px;
	left:60px;
	opacity:0;
	background:white;
	padding:20px;
	zoom:0.1;
	transition: zoom 0.2s, top 0.6s, opacity 1s;
	-webkit-transition: zoom 0.2s, top 0.6s, opacity 1s;
}
#adder p {
	float:right;
	margin-top:-14px;
}
#adder:target {
	top:60px;
	opacity:1;
	zoom:1;
}

{* krásný flash-ky: *}
@keyframes animace {
	0% {
		opacity: 0;
		left: -500px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@-moz-keyframes animace {
	0% {
		opacity: 0;
		left: -500px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@-webkit-keyframes animace {
	0% {
		opacity: 0;
		left: -500px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@-o-keyframes animace {
	0% {
		opacity: 0;
		left: -500px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
#snippet--flashMessage {
	background: none;
	padding: 0;
	position: fixed;
	left: 16px;
	top: 0;
	width: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#snippet--flashMessage input {
	display: none;
}
#snippet--flashMessage input:checked+label {
	display: block;
	left: -600px;
	opacity: 0;
	cursor: default;
	-moz-transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}
#snippet--flashMessage label {
	position: relative;
	width: 280px;
	opacity: 1;
	left: 0;
	display: block;
	border: 1px solid #afa;
	background-color: #fff;
	padding: 10px 24px 10px 10px;
	margin-bottom: 20px;
	cursor: pointer;
	-moz-animation: animace 1.4s linear;
	-webkit-animation: animace 1.4s linear;
	-o-animation: animace 1.4s linear;
	animation: animace 1.4s linear;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 20px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 20px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
}
#snippet--flashMessage label[for="flash-2"] {
	-moz-animation: animace 1.5s linear;
	-webkit-animation: animace 1.5s linear;
	-o-animation: animace 1.5s linear;
	animation: animace 1.5s linear;
}
#snippet--flashMessage label[for="flash-3"] {
	-moz-animation: animace 1.6s linear;
	-webkit-animation: animace 1.6s linear;
	-o-animation: animace 1.6s linear;
	animation: animace 1.6s linear;
}
#snippet--flashMessage label[for="flash-4"] {
	-moz-animation: animace 1.7s linear;
	-webkit-animation: animace 1.7s linear;
	-o-animation: animace 1.7s linear;
	animation: animace 1.7s linear;
}
#snippet--flashMessage label[for="flash-5"] {
	-moz-animation: animace 1.8s linear;
	-webkit-animation: animace 1.8s linear;
	-o-animation: animace 1.8s linear;
	animation: animace 1.8s linear;
}
#snippet--flashMessage label[for="flash-6"] {
	-moz-animation: animace 1.9s linear;
	-webkit-animation: animace 1.9s linear;
	-o-animation: animace 1.9s linear;
	animation: animace 1.9s linear;
}
#snippet--flashMessage label[for="flash-7"] {
	-moz-animation: animace 2s linear;
	-webkit-animation: animace 2s linear;
	-o-animation: animace 2s linear;
	animation: animace 2s linear;
}
#snippet--flashMessage label[for="flash-8"] {
	-moz-animation: animace 2.1s linear;
	-webkit-animation: animace 2.1s linear;
	-o-animation: animace 2.1s linear;
	animation: animace 2.1s linear;
}
#snippet--flashMessage label[for="flash-9"] {
	-moz-animation: animace 2.2s linear;
	-webkit-animation: animace 2.2s linear;
	-o-animation: animace 2.2s linear;
	animation: animace 2.2s linear;
}
#snippet--flashMessage label:before {
	content: "info";
	position: absolute;
	font-weight: bold;
	left: -24px;
	color: #ccc;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#snippet--flashMessage label:after {
	content: "˟";
	font-size: 150%;
	right: 8px;
	margin-top: 6px;
	position: absolute;
	color: #ccc;
}
#snippet--flashMessage label:hover:after {
	color: red;
}
#snippet--flashMessage label.error,
#snippet--flashMessage label.warning {
	border: 1px solid #f88;
}
#snippet--flashMessage label.error:before,
#snippet--flashMessage label.warning:before {
	font-size: 90%;
	left: -28px;
	content: "chyba";
}
	</style>
	{block head}{/block}
</head>
<body>

	<section>
		{include #content}
	</section>

	<aside>

		{snippet flashMessage}
			{foreach $flashes as $flash}{* nemůžu použít n:foreach makro, protože by nefungoval $iterator->counter - ten musí být uvnitř foreach *}
				<input id="flash-{$iterator->counter}" type="checkbox"><label for="flash-{$iterator->counter}" class="flash {$flash->type}">{$flash->message}</label>
			{/foreach}
		{/snippet}

		<div n:if="$presenter->getName() == 'Treeview'" id="adder">
			{control addForm}
		</div>

	</aside>

	{block scripts}
		<script src="{$basePath}/js/jquery.js"></script>
		<script src="{$basePath}/js/netteForms.js"></script>
		<script src="{$basePath}/js/main.js"></script>
	{/block}
