@charset 'UTF-8';

input[type="checkbox"] {
	display:none;
}

label{
	cursor:pointer;
}

label:hover:before{
	content:"⬑";
	position:absolute;
	background:white;
	margin-left:-20px;
	font-weight:bold;
	color:red;
}

input:checked+label:hover:before {
	content:"⬎";
	color:green;
}

input:checked+label ~ ul {
	display:none;
}
